@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Poppins", sans-serif;
	scroll-behavior: smooth;
}

/* HEADER NAVBAR */
header {
	position: fixed;
	top: 20px;
	left: 0;
	right: 0;
	padding: 0 16px;
	z-index: 20;
}

header nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 700px;
	margin-inline: auto;
	background-color: white;
	padding: 16px;
	border-radius: 50px;
	border: 1px solid black;
}

nav ul {
	list-style: none;
	display: flex;
}

ul li a {
	font-weight: 600;
	color: black;
	text-decoration: none;
	padding: 6px 20px;
}

/* HOME SECTION */
#home {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url(../img/background.png);
	background-repeat: repeat-y;
	object-fit: cover;
	background-size: 100%;
}

#home div {
	display: flex;
	flex-direction: column;
	padding-inline: 40px;
}

#home h1 {
	/* font-size: clamp(32px, 8vw, 120px); */
	font-size: 6vw;
	font-weight: 500;
	text-align: center;
}

#home p {
	font-size: clamp(1rem, .8852rem + .4898vw, 1.375rem);
	text-align: center;
	margin-inline: auto;
}

.header-title {
	font-size: 32px;
	font-weight: 500;
	padding: 40px 0;
}

/* NEWS SECTION */
#news {
	padding-inline: 40px;
	background-color: rgb(232, 236, 235);
}

.content-news {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 20px;
}

.card-news {
	height: 524px;
	overflow: hidden;
	flex-basis: 225px;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

.image-news {
	width: 100%;
	height: 65%;
}

.image-news img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.text-news {
	display: flex;
	flex-direction: column;
	height: 35%;
	padding-top: 20px;
}

.title-news {
	font-size: 20px;
	font-weight: 400;
	line-height: 26px;
}

.desc-news {
	font-size: 14px;
	color: #3D3D3D;
}

.link-news {
	margin-top: auto;
	/* align-self: flex-end; */
}

.link-news a {
	font-size: 12px;
	text-decoration: none;
	color: black;
	display: flex;
}

.link-news a img {
	width: 12px;
}

/* TRENDS SECTION */
#trends {
	background-color: rgb(232, 236, 235);
	padding-inline: 40px;
}

.swiper {
	width: 100%;
	height: 500px;
	position: relative;
}

.swiper-slide img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.swiper-slide .desc {
	background-color: rgba(0, 0, 0, 25%);
	position: absolute;
	left: 0;
    right: 0;
    bottom: 0;
    padding: 18px 16px 32px 16px;
	color: white;
}

.swiper-slide .desc h2 {
	font-weight: 500;
}

.swiper-slide .desc p {
	font-weight: 400;
}

/* CONTACT SECTION */
#contact {
	background-color: rgb(232, 236, 235);
	padding-inline: 40px;
}

#contact .container {
	display: flex;
	padding-block: 40px;
}

#contact .container .side {
	flex: 1;
	padding: 32px;
}

#contact .left-side .container-title h1 {
	font-weight: 500;
	font-size: 32px;
}

#contact .left-side .container-title p {
	margin-top: -10px;
}

#contact .left-side .container-platform .platform {
	display: flex;
	gap: 20px;
}

#contact .left-side .container-platform .platform h3 {
	font-size: 18px;
	font-weight: 500;
}

#contact .side label {
	font-weight: 500;
}

.right-side .container-input div {
	display: flex;
	flex-direction: column;
}

.right-side .container-input input {
	padding: 8px 16px;
	border: none;
	/* outline: none; */
}

.right-side .container-textarea textarea {
	padding: 8px 16px;
	width: 100%;
	height: 250px;
	border: none;
}

.right-side form button {
	padding: 8px 16px;
	font-weight: 500;
	border: none;
	background-color: green;
	color: white;
}

/* ABOUT SECTION */
#about {
	padding-inline: 40px;
	background-color: rgb(232, 236, 235);
}

#about .container {
	display: flex;
}

#about .side {
	flex: 1;
	padding: 32px;
}

#about .left-side h3 {
	font-size: 32px;
	font-weight: 500;
}

#about .left-side p {
	font-size: 16px;
	margin-top: 40px;
}

#about .right-side h3 {
	font-size: 18px;
	font-weight: 500;
}

#about .right-side .container-profile {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#about .right-side img {
	border-radius: 100%;
	width: 250px;
}

#about .right-side h1 {
	font-weight: 500;
}

#about .right-side p {
	text-align: center;
}

/* FOOTER SECTION */
footer {
	background-color: rgb(232, 236, 235);
	padding-inline: 40px;
}

footer p {
	padding-block: 40px;
	border-top: 1px solid black;
	text-align: center;
	font-weight: 700;
}

@media screen and (max-width: 640px) {
	/* NAVBAR SECTION */
	header nav {
		width: 100%;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
		gap: 8px;
	}

	nav ul {
		gap: 8px;
	}

	ul li a {
		padding: 0;
	}
	

	/* NEWS SECTION */
	#news {
		padding-inline: 20px;
		justify-content: center;
	}

	.content-news {
		flex-direction: column;
		gap: 24px;
		align-items: center;
	}

	.card-news {
		flex-direction: row;
		gap: 20px;
	}

	.image-news {
		width: 50%;
		height: 100%;
	}

	.text-news {
		padding-block: 20px;
		width: 50%;
		height: 100%;
	}


	/* CONTACT SECTION */
	#contact {
		padding-inline: 20px;
	}

	#contact .side {
		padding-inline: 0;
	}

	#contact .container {
		flex-direction: column;
	}

	form .container-input {
		flex-direction: column;
	}

	/* ABOUT SECTION */
	#about {
		padding-inline: 40px;
	}

	#about .container {
		flex-direction: column;
	}

	#about .side {
		padding: 0;
	}

	/* FOOTER */
	footer {
		padding-inline: 20px;
	}
}

@media screen and (max-width: 768px) {
	/* HOME SECTION */

	/* NEWS SECTION */
	

}

@media screen and (max-width: 1024px) {
	/* .card-news {
		flex-basis: 225px;
	} */
}